html, body{
  overflow-x: hidden;
  margin: 0;
}
/* START HEADER */
.headerNav {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 13;
}
.headerNav a {
  color: #0d1b2a;
}
.headerNav a:visited {
  color: #1b263b;
}
.headerNav a:hover {
  color: #415a77;
}
.headerNav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
}
.logo {
  width: 150px;
  transition: all 0.3s ease;
}
.navLinks {
  display: flex;
  justify-content: center;
  z-index: 10;
  gap: 20px;
}
.burger {
  cursor: pointer;
  display: none;
  z-index: 11;
  position: relative;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: #0d1b2a;
  margin: 5px;
  transition: all 0.3s ease;
}
a {
  text-decoration: none;
}
.search {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.searchBar {
  border-radius: 15px;
  height: 30px;
  text-align: center;
}
.searchBtn {
  border-radius: 15px;
  background-color: white;
  border: none;
}
/* Caroussel */
.heroConcert {
  width: 100%;
  height: 600px;
  background: #0d1b2a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerCarousel {
  width: 100%;
  max-width: 800px;
  height: 450px;
  position: relative;
  margin: 0 auto;
}

input[type="radio"] {
  display: none;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition:
    transform 0.6s cubic-bezier(0.23, 1, 0.32, 1),
    opacity 0.6s ease,
    z-index 0.6s;
  cursor: pointer;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 15px 30px #e0e1dd;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#item-1:checked ~ .cards #salle-1 {
  transform: translateX(0) scale(1);
  z-index: 9;
  opacity: 1;
}
#item-1:checked ~ .cards #salle-2 {
  transform: translateX(40%) scale(0.8);
  z-index: 5;
  opacity: 0.6;
}
#item-1:checked ~ .cards #salle-3 {
  transform: translateX(-40%) scale(0.8);
  z-index: 5;
  opacity: 0.6;
}
#item-1:checked ~ .cards #salle-4 {
  transform: translateX(40%) scale(0.8);
  z-index: 5;
  opacity: 0.6;
}
#item-1:checked ~ .cards #salle-5 {
  transform: translateX(-40%) scale(0.8);
  z-index: 5;
  opacity: 0.6;
}

#item-2:checked ~ .cards #salle-1 {
  transform: translateX(-40%) scale(0.8);
  z-index: 5;
  opacity: 0.6;
}
#item-2:checked ~ .cards #salle-2 {
  transform: translateX(0) scale(1);
  z-index: 9;
  opacity: 1;
}
#item-2:checked ~ .cards #salle-3 {
  transform: translateX(40%) scale(0.8);
  z-index: 5;
  opacity: 0.6;
}
#item-2:checked ~ .cards #salle-4 {
  transform: translateX(40%) scale(0.8);
  z-index: 5;
  opacity: 0.6;
}
#item-2:checked ~ .cards #salle-5 {
  transform: translateX(-40%) scale(0.8);
  z-index: 5;
  opacity: 0.6;
}

#item-3:checked ~ .cards #salle-1 {
  transform: translateX(40%) scale(0.8);
  z-index: 5;
  opacity: 0.6;
}
#item-3:checked ~ .cards #salle-2 {
  transform: translateX(-40%) scale(0.8);
  z-index: 5;
  opacity: 0.6;
}
#item-3:checked ~ .cards #salle-3 {
  transform: translateX(0) scale(1);
  z-index: 9;
  opacity: 1;
}
#item-3:checked ~ .cards #salle-4 {
  transform: translateX(40%) scale(0.8);
  z-index: 5;
  opacity: 0.6;
}
#item-3:checked ~ .cards #salle-5 {
  transform: translateX(-40%) scale(0.8);
  z-index: 5;
  opacity: 0.6;
}

#item-4:checked ~ .cards #salle-2 {
  transform: translateX(-40%) scale(0.8);
  z-index: 5;
  opacity: 0.6;
}
#item-4:checked ~ .cards #salle-3 {
  transform: translateX(-20%) scale(0.9);
  z-index: 8;
  opacity: 0.8;
}
#item-4:checked ~ .cards #salle-4 {
  transform: translateX(0) scale(1);
  z-index: 9;
  opacity: 1;
}
#item-4:checked ~ .cards #salle-5 {
  transform: translateX(20%) scale(0.9);
  z-index: 8;
  opacity: 0.8;
}
#item-4:checked ~ .cards #salle-1 {
  transform: translateX(40%) scale(0.8);
  z-index: 5;
  opacity: 0.6;
}

#item-5:checked ~ .cards #salle-3 {
  transform: translateX(-40%) scale(0.8);
  z-index: 5;
  opacity: 0.6;
}
#item-5:checked ~ .cards #salle-4 {
  transform: translateX(-20%) scale(0.9);
  z-index: 8;
  opacity: 0.8;
}
#item-5:checked ~ .cards #salle-5 {
  transform: translateX(0) scale(1);
  z-index: 9;
  opacity: 1;
}
#item-5:checked ~ .cards #salle-1 {
  transform: translateX(20%) scale(0.9);
  z-index: 8;
  opacity: 0.8;
}
#item-5:checked ~ .cards #salle-2 {
  transform: translateX(40%) scale(0.8);
  z-index: 5;
  opacity: 0.6;
}

.infos {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  color: white;
  font-family: sans-serif;
}

.btnReserv {
  display: inline-block;
  background: white;
  color: black;
  padding: 5px 15px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 0.9em;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  /* HEADER */
  .headerNav {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
  }
  .navLinks {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #778da9;
    width: 30%;
    transform: translateX(100%);
    transition: transform 0.5s ease;
  }
  .navActive {
    transform: translateX(0%);
  }
  .burger {
    display: block;
    align-items: center;
  }
  .logo {
    width: 150px;
  }
  /* CAROUSSEL */
  .heroConcert {
    height: auto;
  }
  .card {
    width: 60%;
    max-height: 60%;
  }
}
