/* START HEADER */
.headerNav{
    border-bottom: 1px solid #0d1b2a;
}
.logo {
  width: 50px;
  transition: all 0.3s ease;
}
.navLinks {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 40px;
  list-style: none;
  cursor: pointer;
}
.headerNav {
  display: flex;
  justify-content: space-between;
}
.burger {
  cursor: pointer;
  display: none;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: #0d1b2a;
  margin: 5px;
  transition: all 0.3s ease;
}
.carousel{
    width: 90%;
    text-align: center;
}
@media screen and (max-width: 768px) {
  .navLinks {
    position: absolute;
    right: 0px;
    height: 30vh;
    top: 3vh;
    background-color: #778da9;
    flex-direction: column;
    width: 20%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .navActive {
    transform: translateX(0%);
  }
  .burger{
    display: block;
    align-items: center;
  }
  .logo{
    width: 70px;
  }
}
