<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="reservations.css">
</head>
<body>
    <section id="container">
    <template id="templateReservation">
        <div class="card">
            <div class="photo"></div>

            <div class="title">
                <h2 class="roomTitle"></h2>
            </div>

            <div class="description">
                <p class="roomdescription"></p>
            </div>

            <div class="reservation">
                <button class="reserveBtn">Réserver</button>
            </div>
        </div>
    </template>
</section>
   
    
</body>
<script src="reservations.js"></script>
</html>