<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="reservations.css">
</head>
<body>
    <section>
        <template id="templateReservation">

        <div id="photo"></div>
        <div id="title">
            <h2 class="roomTitle"></h2>
        </div>
        <div id="description">
           <p id="roomdescription"></p>
        </div>
        <div id="reservation"> <button>Reserver</button></div>

        </template>


        
    </section>
   
    
</body>
<script src="reservations.js"></script>
</html>